<!doctype html>
<html ng-app="auctionApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <link rel="stylesheet" href="css/auction.css">
  </head>
  <body>
    <h2>Auction</h2>
    <div ng-controller="AuctionCtrl">
      <span>{{remaining()}} of {{auctionPlayers.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="player in auctionPlayers">
          <input type="checkbox" ng-model="player.done">
          <span class="done-{{player.done}}">{{player.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <span>{{players.length}} players for auction.</span>
      <table class="unstyled">
        <tr>
          <th>Player</th>
          <th>Team</th>
          <th>Position</th>
          <th>Bid</th>
          <th>Time</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="player in players">
          <td>{{player.player.name}}</td>
          <td>{{player.teamId}}</td>
          <td>{{player.player.position}}</td>
          <td>{{player.bid}}</td>
          <td>{{player.expirationTime}}</td>
          <td>
            <form ng-submit="bid({{player}})">
              <input type="hidden" ng-model="bidAmount" value="{{player.bid+1}}" />
              <input class="btn-primary" type="submit" value="Bid {{player.bid+1}}" />
            </form>
          </td>
          <td>
          <form ng-submit="bid({{player}})">
              <input type="text" ng-model="bidAmount" value="{{player.bid+1}}" size="3" />
              <input class="btn-primary" type="submit" value="Bid" />
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>